on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

name: release-please

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: google-github-actions/release-please-action@v4
        id: release
        with:
          release-type: simple
          package-name: favlog_app
          bootstrap-sha: 33765e9053874c72d37c955a6d36e7a2b998341b
      - uses: actions/checkout@v4
        if: ${{ steps.release.outputs.release_created }}
      - uses: actions/setup-java@v4
        if: ${{ steps.release.outputs.release_created }}
        with:
          distribution: 'zulu'
          java-version: '17'
      - uses: subosito/flutter-action@v2
        if: ${{ steps.release.outputs.release_created }}
        with:
          flutter-version: '3.19.0'
          channel: 'stable'
      - run: flutter pub get
        if: ${{ steps.release.outputs.release_created }}
      - run: |
          # pubspec.yamlのversionをrelease-pleaseが作成したタグバージョンに更新する
          # https://zenn.dev/shunsuke0302/articles/03-20230206-release-please-flutter
          sed -i -E 's/^version: \S+/version: ${{ steps.release.outputs.tag_name }}/' pubspec.yaml
        if: ${{ steps.release.outputs.release_created }}
      - run: git config user.name "release-please[bot]"
        if: ${{ steps.release.outputs.release_created }}
      - run: git config user.email "41898282+release-please[bot]@users.noreply.github.com"
        if: ${{ steps.release.outputs.release_created }}
      - run: git add pubspec.yaml
        if: ${{ steps.release.outputs.release_created }}
      - run: git commit -m "chore: release ${{ steps.release.outputs.tag_name }}"
        if: ${{ steps.release.outputs.release_created }}
      - run: git push
        if: ${{ steps.release.outputs.release_created }}